<div class="graph-page">
  <div class="graph-section expense-sidebar">
    <div class="graph-box">
      <canvas id="myExpense" width="600" height="400"></canvas>
    </div>
    <div class="expense-history">
      <h4>Expense History</h4>
      <% for(expense of allExpense){ %>
      <div class="exp-contain">
        <div class="exp-info">
          <% if(expense.category === "Electricity"){%>
          <div class="icon" style="background-color: rgb(254, 171, 84)">
            <i class="fa-solid fa-plug"></i>
          </div>
          <% } else if(expense.category === "Rent"){ %>
          <div class="icon" style="background-color: rgb(114, 87, 255)">
            <i class="fa-solid fa-house"></i>
          </div>
          <% } else if(expense.category === "Grocery"){ %>
          <div class="icon" style="background-color: rgb(0, 225, 188)">
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
          <% } else if(expense.category === "Travel"){ %>
          <div class="icon" style="background-color: rgb(255, 94, 137)">
            <i class="fa-solid fa-plane"></i>
          </div>
          <% } else if(expense.category === "Food"){ %>
          <div class="icon" style="background-color: #fee440">
            <i class="fa-solid fa-utensils"></i>
          </div>
          <% } else if(expense.category === "Medicine"){ %>
          <div class="icon" style="background-color: #4bc0c0">
            <i class="fa-solid fa-stethoscope"></i>
          </div>
          <% } else if(expense.category === "Home"){ %>
          <div class="icon" style="background-color: #f725db">
            <i class="fa-solid fa-house-chimney"></i>
          </div>
          <% } else { %>
          <div class="icon" style="background-color: #95a5a6">
            <i class="fa-solid fa-receipt"></i>
          </div>
          <% } %>

          <div class="exp-head">
            <div class="exp-title"><%= expense.expense_title %></div>
            <div class="exp-category"><%= expense.category %></div>
          </div>
        </div>
        <div class="exp-amount">
          <p>&#8377;<%= expense.amount %></p>
          <div>
            <a href="/editExpense/<%=expense.id %>"
              ><i class="fa-regular fa-pen-to-square"></i
            ></a>
            <form
              action="/deleteExpense/<%= expense.id%>?_method=DELETE"
              method="post"
              onsubmit="return confirm('Are you sure you want to delete this expense?');"
            >
              <button><i class="fa-solid fa-trash"></i></button>
            </form>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>

  <div class="graph-section income-sidebar" style="display: none">
    <div class="graph-box">
      <canvas id="myIncome" width="600" height="400"></canvas>
    </div>
    <div class="expense-history">
      <h4>Income History</h4>
      <% for(income of allIncomes){ %>
      <div class="exp-contain">
        <div class="exp-info">
          <% if(income.category === "Salary"){%>
          <div class="icon" style="background-color: #4bc0c0">
            <i class="fa-solid fa-wallet"></i>
          </div>
          <% } else if(income.category === "Freelance"){ %>
          <div class="icon" style="background-color: #ff9f40">
            <i class="fa-solid fa-sack-dollar"></i>
          </div>
          <% } else if(income.category === "Gift"){ %>
          <div class="icon" style="background-color: #f72585">
            <i class="fa-solid fa-gift"></i>
          </div>
          <% } else if(income.category === "Investment"){ %>
          <div class="icon" style="background-color: #9b5de5">
            <i class="fa-solid fa-hand-holding-dollar"></i>
          </div>
          <% } else if(income.category === "Side Hustle"){ %>
          <div class="icon" style="background-color: #7ed957">
            <i class="fa-solid fa-laptop"></i>
          </div>
          <% } else if(income.category === "Sale"){ %>
          <div class="icon" style="background-color: #ff6b81">
            <i class="fa-solid fa-money-bill-trend-up"></i>
          </div>
          <% } else if(income.category === "Interest"){ %>
          <div class="icon" style="background-color: #fee440">
            <i class="fa-solid fa-landmark"></i>
          </div>
          <% } else if(income.category === "Online Income"){ %>
          <div class="icon" style="background-color: #3a86ff">
            <i class="fa-solid fa-globe"></i>
          </div>
          <% } else { %>
          <div class="icon" style="background-color: #95a5a6">
            <i class="fa-solid fa-receipt"></i>
          </div>
          <% } %>

          <div class="exp-head">
            <div class="exp-title"><%= income.income_source %></div>
            <div class="exp-category"><%= income.category %></div>
          </div>
        </div>
        <div class="exp-amount">
          <p>&#8377;<%= income.amount %></p>
          <div>
            <a href="/editIncome/<%=income.id %>"
              ><i class="fa-regular fa-pen-to-square"></i
            ></a>
            <form
              action="/deleteIncome/<%= income.id%>?_method=DELETE"
              method="post"
              onsubmit="return confirm('Are you sure you want to delete this expense?');"
            >
              <button><i class="fa-solid fa-trash"></i></button>
            </form>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
