<div class="home-section">
  <div class="toggle">
    <button id="expense-toggle" class="toggle-effect">Expense</button>
    <button id="income-toggle" class="toggle-bg">Income</button>
  </div>

  <div class="exp-page">
    <div class="bar">
      <div class="bar-head">
        <h5>Budget Remaining</h5>
        <a href="/addExpense"><i class="fa-solid fa-plus"></i> Add-Expense</a>
      </div>
      <h1>&#8377;<%- totalIncome - totalExpense %></h1>
      <div class="progress-bar income-progress">
        <div class="progress">&#8377; <%= totalIncome%>.00</div>
        <span>Earned</span>
      </div>
      <div class="progress-bar">
        <div class="progress" style="width: <%= expenseProgress%>%">
          &#8377; <%= totalExpense%>.00
        </div>
        <span>Spent</span>
      </div>
    </div>
    <div class="spend-category">
      <h3>Top Spending</h3>
      <div class="category">
        <div class="card">
          <a href="/expense?category=Electricity"
            ><div
              class="card-icon"
              style="background-color: rgb(250, 219, 186)"
            >
              <i class="fa-solid fa-plug"></i></div
          ></a>
          <p>Electricity</p>
        </div>
        <div class="card">
          <a href="/expense?category=Rent"
            ><div
              class="card-icon"
              style="background-color: rgb(196, 185, 252)"
            >
              <i class="fa-solid fa-house"></i></div
          ></a>
          <p>Rent</p>
        </div>
        <div class="card">
          <a href="/expense?category=Grocery"
            ><div
              class="card-icon"
              style="background-color: rgb(195, 255, 245)"
            >
              <i class="fa-solid fa-cart-shopping"></i></div
          ></a>
          <p>Grocery</p>
        </div>
        <div class="card">
          <a href="/expense?category=Travel"
            ><div
              class="card-icon"
              style="background-color: rgb(253, 178, 198)"
            >
              <i class="fa-solid fa-plane"></i></div
          ></a>
          <p>Travel</p>
        </div>
        <div class="card">
          <a href="/expense?category=Home"
            ><div class="card-icon" style="background-color: #fcb6f3">
              <i class="fa-solid fa-house-chimney"></i></div
          ></a>
          <p>Home</p>
        </div>
        <div class="card">
          <a href="/expense?category=Medicine"
            ><div class="card-icon" style="background-color: #9ed9d9">
              <i class="fa-solid fa-stethoscope"></i></div
          ></a>
          <p>Medicine</p>
        </div>
        <div class="card">
          <a href="/expense?category=Food"
            ><div class="card-icon" style="background-color: #fff7c3">
              <i class="fa-solid fa-utensils"></i></div
          ></a>
          <p>Food</p>
        </div>
        <div class="card">
          <a href="/expense?category=Other"
            ><div class="card-icon" style="background-color: #d6d8d8">
              <i class="fa-solid fa-receipt"></i></div
          ></a>
          <p>Other</p>
        </div>
      </div>
    </div>
  </div>

  <div class="inc-page">
    <div class="bar">
      <div class="bar-head">
        <h5>Budget Remaining</h5>
        <a href="/addIncome"><i class="fa-solid fa-plus"></i> Add-Income</a>
      </div>
      <h1>&#8377;<%- totalIncome - totalExpense %></h1>
      <div class="progress-bar income-progress">
        <div class="progress">&#8377; <%= totalIncome%>.00</div>
        <span>Earned</span>
      </div>
      <div class="progress-bar">
        <div class="progress" style="width: <%= expenseProgress%>%">
          &#8377; <%= totalExpense%>.00
        </div>
        <span>Spend</span>
      </div>
    </div>
    <div class="spend-category">
      <h3>Top Earnings</h3>
      <div class="category">
        <div class="card">
          <a href="/income?category=Salary"
            ><div class="card-icon" style="background-color: #afe5e5">
              <i class="fa-solid fa-wallet"></i></div
          ></a>
          <p>Salary</p>
        </div>
        <div class="card">
          <a href="/income?category=Freelance"
            ><div class="card-icon" style="background-color: #f7d3b0">
              <i class="fa-solid fa-sack-dollar"></i></div
          ></a>
          <p>Freelance</p>
        </div>
        <div class="card">
          <a href="/income?category=Gift"
            ><div class="card-icon" style="background-color: #f7aecf">
              <i class="fa-solid fa-gift"></i></div
          ></a>
          <p>Gift</p>
        </div>
        <div class="card">
          <a href="/income?category=Investment"
            ><div class="card-icon" style="background-color: #ddc2fe">
              <i class="fa-solid fa-hand-holding-dollar"></i></div
          ></a>
          <p>Investment</p>
        </div>
        <div class="card">
          <a href="/income?category=Side Hustle"
            ><div class="card-icon" style="background-color: #ccfbb7">
              <i class="fa-solid fa-laptop"></i></div
          ></a>
          <p>Side Hustle</p>
        </div>
        <div class="card">
          <a href="/income?category=Sale"
            ><div class="card-icon" style="background-color: #fcc9d0">
              <i class="fa-solid fa-money-bill-trend-up"></i></div
          ></a>
          <p>Sale</p>
        </div>
        <div class="card">
          <a href="/income?category=Interest"
            ><div class="card-icon" style="background-color: #f8f0bc">
              <i class="fa-solid fa-landmark"></i></div
          ></a>
          <p>Interest</p>
        </div>
        <div class="card">
          <a href="/income?category=Online Income"
            ><div class="card-icon" style="background-color: #bed5fb">
              <i class="fa-solid fa-globe"></i></div
          ></a>
          <p>Online Income</p>
        </div>
        <div class="card">
          <a href="/income?category=Other"
            ><div class="card-icon" style="background-color: #d6d8d8">
              <i class="fa-solid fa-receipt"></i></div
          ></a>
          <p>Other</p>
        </div>
      </div>
    </div>
  </div>
</div>
