<% layout("./layouts/boilerplate") %>

<div class="edit">
<h2>Edit Expense</h2>

<form action="/editExpense/<%= expense.id %>?_method=PATCH" method="post">
   <div>
        <label for="expense_title">Expense-Title</label>
        <input type="text" name="expense_title" id="expense_title"  value="<%- expense.expense_title %>" required>
   </div>
   <div>
        <label for="expense_amount">Expense-Amount</label>
        <input type="number" name="amount" id="expense_amount" value="<%- expense.amount %>" required>    
   </div>
   <div>
        <label for="expense_category">Expense-Category</label>
        <select name="category" >
           <option value="Electricity" <%= expense.category === "Electricity"  ? "selected" : "" %>>Electricity</option>
           <option value="Rent"<%= expense.category === "Rent" ? "selected" : "" %>>Rent</option>
           <option value="Grocery" <%= expense.category === "Grocery" ? "selected" : "" %>>Grocery</option>
           <option value="Travel" <%= expense.category === "Travel" ? "selected" : "" %>>Travel</option>
           <option value="Food" <%= expense.category === "Food" ? "selected" : "" %>>Food</option>
           <option value="Medicine" <%= expense.category === "Medicine" ? "selected" : "" %>>Medicine</option>
           <option value="Home" <%= expense.category === "Home" ? "selected" : "" %>>Home</option>
           <option value="Other" <%= expense.category === "Other" ? "selected" : "" %>>Other</option>
        </select>
   </div> 
   
    <button>Edit</button>
</form>
</div>