<% layout("./layouts/boilerplate") %>

<div class="category-wise">
  <h2>Total : <%= sum %></h2>

  <% for(income of incomeCatwise){%>
  <div class="cat-row">
    <div class="cat-info">
      <% if(income.category === "Salary"){%>
      <div class="icon" style="background-color: #4bc0c0">
        <i class="fa-solid fa-wallet"></i>
      </div>
      <% } else if(income.category === "Freelance"){ %>
      <div class="icon" style="background-color: #ff9f40">
        <i class="fa-solid fa-sack-dollar"></i>
      </div>
      <% } else if(income.category === "Gift"){ %>
      <div class="icon" style="background-color: #f72585">
        <i class="fa-solid fa-gift"></i>
      </div>
      <% } else if(income.category === "Investment"){ %>
      <div class="icon" style="background-color: #9b5de5">
        <i class="fa-solid fa-hand-holding-dollar"></i>
      </div>
      <% } else if(income.category === "Side Hustle"){ %>
      <div class="icon" style="background-color: #7ed957">
        <i class="fa-solid fa-laptop"></i>
      </div>
      <% } else if(income.category === "Sale"){ %>
      <div class="icon" style="background-color: #ff6b81">
        <i class="fa-solid fa-money-bill-trend-up"></i>
      </div>
      <% } else if(income.category === "Interest"){ %>
      <div class="icon" style="background-color: #fee440">
        <i class="fa-solid fa-landmark"></i>
      </div>
      <% } else if(income.category === "Online Income"){ %>
      <div class="icon" style="background-color: #3a86ff">
        <i class="fa-solid fa-globe"></i>
      </div>
      <% } else { %>
      <div class="icon" style="background-color: #95a5a6">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <% } %>

      <div>
        <h3><%= income.income_source.toUpperCase() %></h3>
        <p><%= income.category %></p>
        <p><%= income.created_at.toString().slice(0,16)%></p>
        <p><%= income.created_at.toString().slice(16,24) %></p>
      </div>
    </div>

    <p class="cat-amount">&#8377; <%= income.amount %></p>
  </div>
  <% } %>
</div>
