<% layout("./layouts/boilerplate") %>
<script src="script.js" ></script>

<div class="landing-page">
    <div class="graph-section">
        <div class="graph-box">
         
        </div>
        <div class="expense-history">

            <% for(expense of allExpense){ %>
             <div class="exp-contain">
                  <div class="exp-info">

                    <% if(expense.category === "Electricity"){%>
                            <div class="icon" style="background-color:#f1c40f;"></div>
                    <% } else if(expense.category === "Rent"){ %>
                            <div class="icon" style="background-color:#3498db ;"></div>
                    <%  } else if(expense.category === "Grocery"){ %>
                            <div class="icon" style="background-color: #2ecc71 ;"></div>
                    <% } else if(expense.category === "Travel"){ %>
                            <div class="icon" style="background-color: #e67e22 ;"></div>
                    <% } else { %>
                            <div class="icon" style="background-color: #95a5a6;"></div>
                    <% } %>

                      <div class="exp-head">
                        <div class="exp-title"><%= expense.expense_title %></div>
                        <div class="exp-category"><%= expense.category %></div>
                      </div>
                    </div>
                  <div class="exp-amount">
                       <p>&#8377;<%= expense.amount %></p>
                       <a href="/editExpense/<%=expense.id %>"><i class="fa-regular fa-pen-to-square"></i></a>
                    </div>
             </div>
             <% } %>

        </div>
    </div>

    <div class="home-section">
            <div class="toggle">
                <button id="expense-toggle" class="toggle-effect" >Expense</button>
                <button id="income-toggle">Income</button>
            </div>

            <div class="exp-page">
                 <div class="bar">
                    <h5>Budget Remaining</h5>
                    <h1>&#8377;<%- totalIncome - totalExpense %></h1>
                    <div class="progress-bar income-progress">
                        <div class="progress">&#8377; <%= totalIncome%>.00</div>
                        <span>Earned</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: <%= expenseProgress%>%;">&#8377; <%= totalExpense%>.00</div>
                        <span>Spend</span>
                    </div>
                 </div>
                 <div class="spend-category">
                    <h3>Top Spending</h3>
                    <div class="category">
                        <div class="card"></div>
                        <span>Electricity</span>
                        <div class="card"></div>
                        <div class="card"></div>
                        <div class="card"></div>
                        <div class="card"></div>
                        <div class="card"></div>
                        <div class="card"></div>
                        <div class="card"></div>
                        <div class="card"></div>
                        <div class="card"></div>
                    </div>
                 </div>
            </div>

            <div class="inc-page">
                 <div class="bar">
                    <h5>Budget Remaining</h5>
                    <h1>&#8377;<%- totalIncome - totalExpense %></h1>
                    <div class="progress-bar income-progress">
                        <div class="progress">&#8377; <%= totalIncome%>.00</div>
                        <span>Earned</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: <%= expenseProgress%>%;">&#8377; <%= totalExpense%>.00</div>
                        <span>Spend</span>
                    </div>
                 </div>
                 <div class="spend-category">
                    <h3>Top Earnings</h3>
                    <div class="category">
                        <div class="card"></div>
                        <div class="card"></div>
                        <div class="card"></div>
                        <div class="card"></div>
                        <div class="card"></div>
                        <div class="card"></div>
                        <div class="card"></div>
                        <div class="card"></div>
                        <div class="card"></div>
                        <div class="card"></div>
                    </div>
                 </div>
            </div>
    </div>
</div>

<!-- <div class="cashBook" style="display: flex;">
<div class="expense" style="margin-right: 10rem;">
    <h3>Total expense : <%- totalExpense %></h3>

    <a href="/addExpense">Upgrade</a>
    <br><br>
    <% for(expense of allExpense){ %>
    <div  class="total"><%-expense.expense_title %> <%- expense.amount%></div>
    <a href="/editExpense/<%=expense.id %>">Edit</a>
    <form action="/deleteExpense/<%= expense.id%>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
    <br><br>
    <% } %>
</div>

<div class="income">
    <h3>Total income : <%- totalIncome %></h3>

    <a href="/addIncome">Add-Income</a>
    <br><br>
    <% for(income of allIncomes){ %>
    <div  class="total"><%-income.income_source %> <%- income.amount%></div>
    <a href="/editIncome/<%=income.id %>">Edit</a>
    <form action="/deleteIncome/<%= income.id%>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
    <br><br>
    <% } %>
</div>
</div>

<div class="diff">
    <h3>Difference : <%- totalIncome - totalExpense %></h3>
</div> -->



<script>
    let expToggleBtn = document.querySelector("#expense-toggle");
    let incToggleBtn = document.querySelector("#income-toggle");
    let expPage = document.querySelector(".exp-page");
    let incPage = document.querySelector(".inc-page");

    expToggleBtn.addEventListener("click",()=>{
        expToggleBtn.classList.add("toggle-effect");
        incToggleBtn.classList.remove("toggle-effect");
        expPage.style.display = "block";
    })

    incToggleBtn.addEventListener("click",()=>{
        incToggleBtn.classList.add("toggle-effect");
        expToggleBtn.classList.remove("toggle-effect");
        expPage.style.display = "none";

    })
</script>